<h1>Welcome to the Game</h1>
<p>hello <%= session[:player] %></p>

<table>
  <tr>
    <th>choice 1</th>
    <th>choice 2</th>
    <th>choice 3</th>
    <th>choice 4</th>
  </tr>
  <% results.each do |result| %>
  <tr>
    <td class="<%= result[0] %>"><%= result[0] %></td>
    <td class="<%= result[1] %>"><%= result[1] %></td>
    <td class="<%= result[2] %>"><%= result[2] %></td>
    <td class="<%= result[3] %>"><%= result[3] %></td>
    <td>
      <table>
        <tr>
          <td><%= result[4][0] %></td>
          <td><%= result[4][1] %></td>
        </tr>
        <tr>
          <td><%= result[4][2] %></td>
          <td><%= result[4][3] %></td>
        </tr>
      </table>
    </td>
  </tr>
  <% end %>
</table>
